/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
/*    #19132E*/
    -fx-background-color: #303446;
    -fx-background-radius: 15;
}
.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}
.border {
    -fx-border-insets: 2;
    -fx-border-color: #664797;
}
.jfx-rippler {
    -jfx-rippler-fill: #664797;
}
.jfx-ripplernone {
    -jfx-rippler-fill: red;
}