/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
/*    #19132E*/
    -fx-background-color: #303446;
    -fx-background-radius: 15;
}
.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}
.border {
    -fx-border-insets: 2;
    -fx-border-color: #664797;
}

.jfx-rippler {
    -jfx-rippler-fill: #e4e0e0;
}

.btnuser {
     -jfx-button-type: FLAT;
     -fx-background-color:  #664797;
     -fx-text-fill: white;
}
.btnuser-selected {
     -jfx-button-type: RAISED;
     -fx-background-color:  #f1d058;
     -fx-text-fill: white;
}
.btnmessage {
     -jfx-button-type: FLAT;
     -fx-background-color: #664797;
     -fx-text-fill: white;
}
.btnmessage-selected {
     -jfx-button-type: RAISED;
     -fx-background-color: #f1d058;
     -fx-text-fill: white;
}
.scroll-pane{
   -fx-background-color:transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}